<div class="left-image">
    <div class="transactions-header">
        <h2>Income vs Expenses</h2>
    </div>

    <div class="chart-container">
        <canvas id="myChart"></canvas>
    </div>

    <div class="filter-dropdown">
        <select id="timeFilter">
            <option value="daily">Daily</option>
            <option value="weekly">Weekly</option>
            <option value="monthly" selected>Monthly</option>
            <option value="yearly">Yearly</option>
        </select>
    </div>
</div>
