    {% extends "auth1_app/base.html" %}
    {% load static %}
    {% load humanize %}


    {% block title %}Home{% endblock %}
    {% block page_title %}Home{% endblock %}

    {% block content %}

    <link rel="stylesheet" href="{% static 'css/homestyle.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Geist:wght@400;700&display=swap">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'js/home.js' %}"></script>

    <div class="top-bar">
        <div class="container topbar-content">
            <p>Welcome, <strong>{{ request.user.first_name }} {{ request.user.last_name }}!</strong></p>
            <div class="container-totalbalance">
                <p> Total Balance : ₱{{ total_balance|floatformat:2|intcomma }}</p>
            </div>
        </div>
    </div>

    <div class="main-content">
        {% include "partials/home/chart_section.html" %}
        {% include "partials/home/recent_transactions.html" %}
        {% include "partials/home/transaction_detail_modal.html" %}
        {% include "partials/home/add_transaction_modal.html" %}
        {% include "partials/home/edit_transaction_modal.html" %}
        {% include "partials/home/delete_transaction_confirmation_modal.html" %}
        {% include "partials/home/add_category_modal.html" %}

        {{ labels|json_script:"labels" }}
        {{ income_totals|json_script:"income_totals" }}
        {{ expense_totals|json_script:"expense_totals" }}
    </div>

    {% endblock %}