/* Form Buttons */
.form-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.form-actions button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    height: 50px;
    font-weight: bold;
    font-size: 15px;
    color: white;
}

.form-actions button[type="submit"] {
    background: linear-gradient(to right, #0D1C13, #1B2D1D);
    border: 1px solid #2BB32A;

}

.form-actions button[type="submit"]:hover {
    background-color: #248824;
}

.form-actions button[type="button"] {
    background: transparent;
    border: 1px solid #5A5F5D;
    color: #ADB2B1;
}

.form-actions button[type="button"]:hover {
    background-color: #2A2F2D;
    /* dark subtle gray */
    color: white;
    border-color: #7F8785;
    /* slightly lighter gray on hover */
}

/* Styles for the Report Dropdown */
.dropdown-report {
    position: relative;
    display: inline-block;
    margin-top: 1rem;
}

.dropdown-button-report {
    background: linear-gradient(to right, #0D1C13, #1B2D1D);
    border: 1px solid #2BB32A;
    color: white;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 8px;
    font-weight: bold;
    height: 50px;
}

.dropdown-button-report:hover {
    background-color: #248824;
    border-color: #2BB32A;
}

/* Dropdown Menu Styles */
.dropdown-menu-report {
    display: none;
    position: absolute;
    margin-top: 0px;
    top: 100%;
    left: 0;
    background-color: #0D1C13;
    border: 1px solid #2BB32A;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 200px;
    z-index: 10;
}

.dropdown-menu-report a {
    display: block;
    padding: 8px 16px;
    color: #333;
    text-decoration: none;
    font-size: 14px;
}

.dropdown-menu-report a:hover {
    color: #2BB32A;
}

/* Show the dropdown when hovering over the button */
.dropdown-report:hover .dropdown-menu-report {
    display: block;
}

/* Styles for the dropdown form */
.dropdown-menu-report form {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.dropdown-menu-report input[type="date"] {
    padding: 5px;
    margin-bottom: 0px;
    border: 1px solid #2BB32A;
    border-radius: 4px;
    font-size: 14px;
}

.dropdown-menu-report button {
    padding: 8px 16px;
    border: none;
    background-color: #2BB32A;
    color: white;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}

.dropdown-menu-report button:hover {
    background-color: #005600;
}

/* Additional Styling for Links and Divider */
.dropdown-divider {
    height: 1px;
    background-color: #2BB32A;
    margin: 8px 0;
}